{
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "browsers": ["> 1%", "last 2 versions", "ie >=9"]
            },
            "useBuiltIns": true,
            "debug": true
        }],
        "stage-2",
        ["es2015", {
            "modules": false
        }]
    ],
    "plugins": [
        "transform-vue-jsx",
        "transform-runtime",
        "transform-object-rest-spread", // vuex中使用对象展开运算符插件
        [
            "component",
            {
                "libraryName": "element-ui",
                "styleLibraryName": "theme-chalk"
            }
        ]
    ],
    "env": {
        "test": {
            "presets": ["env", "stage-2"],
            "plugins": ["transform-vue-jsx", "transform-es2015-modules-commonjs", "dynamic-import-node"]
        }
    }
}
