@import "_variable";
@import "_mixin";

* {
    .box-sizing(border-box);
    -webkit-text-size-adjust:auto !important;
}
html{
    -webkit-text-size-adjust:none;
}
html,
body {
    font: .14rem/1 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
button {
    cursor: pointer;
    &:hover,
    &:active,
    &:focus{
        outline: none!important;
    }
}
a {
    cursor: pointer;
    &:hover,
    &:active,
    &:focus{
        text-decoration: none;
    }
}
.text-center {
    text-align: center!important;
}
.mt15 {
    margin-top: 15px;
}

//Header.vue
.ps-information .el-dropdown-menu__item {
    padding: 0!important;
}
.header-dropdown-style {
    display: inline-block;
    width: 100%;
    height: 36px;
    padding: 0 20px;
    color: RGBA(102, 102, 102, 1);
}
//RealName.vue

.RealName-main .el-upload--picture-card,
.personalData-main .el-upload--picture-card ,
.password-main .el-upload--picture-card {
    width: 1rem;
    height: 1rem;
    line-height: 1.2rem;
}
.el-upload--picture-card i {
    color: @general-col;
}

.basic,
.company {
    width: 100%;
    .title {
        position: relative;
        width: 100%;
        padding: 20px 20px 20px 17px;
        line-height: 1;
        color: @main-col;
        font-size: 14px;
        border-bottom: 1px dashed #cccccc;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 19px;
            z-index: 1;
            width: 4px;
            height: 16px;
            background-color: @base;
        }
    }
    .basic-form {
        padding: .25rem 0 0 1.25rem;
        .input-width {
            max-width: 300px;
            min-width: 250px;
        }
        .upload-flex {
            width: 100%;
            margin-bottom: .25rem;
            label {
                display: inline-block;
                width: 20%;
                max-width: 135px;
                min-width: 135px;
                text-align: left;
                color: #606266;
                font-size: 14px;
                line-height: 1.2;
            }
            span {
                display: inline-block;
            }
            .special {
                max-width: none;
            }
        }
        .upload-flex {
            .flex_start;
            .el-form-item__content {
                width: 100%;
                margin-left: 0!important;
                line-height: 0;
            }
            .avatar-uploader .el-upload {
                border: 1px dashed #d9d9d9;
                border-radius: 6px;
                cursor: pointer;
                position: relative;
                overflow: hidden;
            }
            .avatar-uploader .el-upload:hover {
                border-color: #409EFF;
            }
            .avatar-uploader-icon {
                font-size: 28px;
                color: #8c939d;
                width: 100px;
                height: 100px;
                line-height: 100px;
                text-align: center;
                font-weight: bold;
            }
            .avatar {
                width: 100px;
                height: 100px;
                display: block;
            }
        }
    }
}

//customerApplication.vue

.suffix {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 1;
    width: @width-pr;
    border-left: 1px solid #999999;
    .el-input__inner {
        padding: 0 10px;
        height: 44px!important;
        line-height: 44px;
        border: none!important;
    }
}
.basic .el-upload-list__item {
    height: 25px;
}

//investigate.vue
.el-date-editor .el-range-separator {
    width: 8%;
    min-width: 26px;
}

//home.vue
.Home-main {
    width: 100%;
    .justify_content;
    .left {
        float: left;
        width: 62%;
        min-width: 320px;
        padding: .3rem 20px;
        .border-bottom-radius(5px);
        border-top-right-radius: 5px;
        .bottom {
            padding-top: 30px;
            .msg-item {
                position: relative;
                padding: 10px 0;
                margin-left: 20px;
                border-bottom: 1px solid RGBA(27, 160, 208, .14);
                .msg-item-left {
                    float: left;
                    width: 80%;
                }
                .msg-item-right {
                    float: left;
                    width: 20%;
                }
                .sign {
                    position: absolute;
                    left: -19px;
                    top: 16px;
                    z-index: 1;
                    width: 8px;
                    height: 8px;
                    background-color: @Danger;
                    .common_radius(50%);
                }
                h1 {
                    font-size: 15px;
                    color: rgba(50,50,50,1);
                    line-height: 23px;
                }
                p {
                    width: 100%;
                    height: 18px;
                    margin-top: 2px;
                    font-size: .14rem;
                    line-height: 18px;
                }
                span {
                    display: inline-block;
                    margin-top: 5px;
                    font-size: .13rem;
                    color: @minor-col;
                }
                .look-btn {
                    width: 0.88rem;
                    min-width: 60px;
                    height: 30px;
                    line-height: 30px;
                    font-size: .14rem;
                    color: rgba(44,151,255,1);
                    text-align: center;
                    border: 1px solid rgba(44,151,255,1);
                    background-color: #fff;
                    .common_radius(15px);
                    &:hover {
                        color: #fff;
                        background-color: rgba(44,151,255,1);
                    }
                }
            }
            .msg-item:last-of-type {
                border-bottom: none;
            }
        }
        .left-wrapper {
            width: 100%;
            padding: .32rem 0 .48rem;
            border-bottom: 1px solid RGBA(182, 194, 202, .4);
            .step {
                margin-right: 1rem;
                text-align: center;
                cursor: pointer;
                &:hover .step-icon-wrap {
                    background-color: rgba(241,240,245,.5);
                }
            }
            .step-icon-wrap {
                width: 1.34rem;
                height: 1.34rem;
                text-align: center;
                background: rgba(241,240,245,1);
                .common_radius(50%);
                img {
                    display: inline-block;
                    width: .8rem;
                    min-width: 60px;
                    height: .8rem;
                    min-height: 60px;
                }
            }
            p {
                color: @main-col;
                margin-top: .22rem;
                font-size: .16rem;
            }
        }
    }
    .right {
        float: right;
        width: 36.25%;
        min-width: 350px;
        padding: .15rem .32rem;
        .common_radius(5px);
    }
    .title {
        position: relative;
        overflow: hidden;
        width: 100%;
        color: #58666E;
        padding-left: 20px;
        height: 18px;
        line-height: 18px;
        font-size: .16rem;
        font-weight: bold;
        span {
            float: left;
            &:before {
                content: '';
                position: absolute;
                left: 3px;
                top: 0;
                z-index: 1;
                width: 4px;
                height: 16px;
                font-size: .16rem;
                background-color: #2C97FF;
                .common_radius(2px);
            }
        }
        .all-read {
            margin-left: 30px;
            font-size: 12px;
            color: @minor-col;
            cursor: pointer;
            &:before {
                content: '\e671';
            }
        }
        a {
            float: right;
            color: RGBA(153, 153, 153, 1);
            font-size: 12px;
            &:hover {
                text-decoration: none;
                color: @base;
            }
        }
    }

    .page-wrap {
        width: 100%;
        margin: .3rem 0 .2rem;
        text-align: center;
    }
}
#view-dialog .el-dialog {
    width: 70%;
    height: 70vh;
    .el-dialog__body {
        overflow-y: scroll;
        height: calc(~"100% - 30px");
        height: -ms-calc(~"100% - 30px");
        height: -moz-calc(~"100% - 30px");
        height: -webkit-calc(~"100% - 30px");
    }
}


.right-list {
    width: 100%;
    padding: .1rem 0;
    border-top: 1px solid RGBA(182, 194, 202, .4);
    .item {
        position: relative;
        overflow: hidden;
        width: 100%;
        cursor: pointer;
        color: @main-col;
        background-color: #ffffff;
        .file-name {
            float: left;
            width: 60%;
            height: 44px;
            padding-left: .45rem;
            line-height: 44px;
        }
        .file-operate {
            float: left;
            width: 40%;
            height: 44px;
            line-height: 44px;
        }
        i {
            position: absolute;
            top: 11px;
            left: .04rem;
            width: 22px;
            height: 22px;
        }
        .icon-word {
            background: url("../../assets/img/Home/file-word.png") no-repeat center left;
        }
        .icon-JPGs {
            background: url("../../assets/img/Home/file-photo.png") no-repeat center left;
        }
        .icon-pdf {
            background: url("../../assets/img/Home/file-pdf.png") no-repeat center left;
        }
        /*.icon-ELXs {*/
        /*background: url("../assets/img/Home/file-word.png") no-repeat center left;*/
        /*}*/
        .icon-wenjian {
            background: url("../../assets/img/Home/file-txt.png") no-repeat center left;
        }
        .operate {
            display: inline-block;
            width: 56px;
            height: 26px;
            line-height: 26px;
            text-align: center;
            margin-left: .08rem;
            font-size: .13rem;
            .common_radius(13px);
            &:hover {
                color: #fff;
            }
        }
        a.look {
            color: RGBA(46, 170, 253, 1);
            border: 1px solid RGBA(46, 170, 253, 1);
            &:hover {
                background-color: RGBA(46, 170, 253, 1);
            }
        }
        a.upLoad {
            color: RGBA(84, 190, 117, 1);
            border: 1px solid RGBA(84, 190, 117, 1);
            &:hover {
                background-color: RGBA(84, 190, 117, 1);
            }
        }
    }
}

//common
.bg-style {
    background-color: #fff;
    .common_box_shadow(0 2px 4px rgba(7, 17, 27, .15));
}

@media only screen and (min-device-width: 320px) {
    html {
        font-size: 400%!important;
    }
}
//针对iPhone 4, 5c,5s, 所有iPhone6的放大模式，个别iPhone6的标准模式
@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    html {
        font-size: 425%!important;
    }
}
//针对大多数iPhone6的标准模式
@media only screen and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
    html {
        font-size: 450%!important;
    }
}
//针对所有iPhone6+的放大模式
@media only screen and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
    html {
        font-size: 475%!important;
    }
}
//针对所有iPhone6+的标准模式,414px写为412px是由于三星Nexus 6为412px，可一并处理
@media only screen and (min-device-width:412px) and (-webkit-min-device-pixel-ratio: 3) {
    html {
        font-size: 500%!important;
    }
}
//针对ipad/平板
@media (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 500%!important;
    }
}
@media (min-width: 1024px) and (max-width: 1279px) {
    html {
        font-size: 500%!important;
    }
}
@media (min-width: 1280px) and (max-width: 1365px) {
    html {
        font-size: 500%!important;
    }
}
@media (min-width: 1366px) and (max-width: 1439px) {
    html {
        font-size: 525%!important;
    }
}
@media (min-width: 1440px) and (max-width: 1679px) {
    html {
        font-size: 550%!important;
    }
}
@media (min-width: 1680px) and (max-width: 1919px) {
    html {
        font-size: 600%!important;
    }
}
@media (min-width: 1920px) {
    html {
        font-size: 625%!important;
    }
}
