@import "_variable";
@import "_mixin";

* {
    .box-sizing(border-box);
    -webkit-text-size-adjust:auto !important;
}
html{
    -webkit-text-size-adjust:none;
}
html,
body {
    font: .14rem/1 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
button {
    cursor: pointer;
    &:hover,
    &:active,
    &:focus{
        outline: none!important;
    }
}
.text-center {
    text-align: center!important;
}
.mt15 {
    margin-top: 15px;
}
//common
.bg-style {
    background-color: #fff;
    .common_box_shadow(0 2px 4px rgba(7, 17, 27, .15));
}

//Header.vue
.header .el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: transparent;
}

//Home.vue
.el-tabs--card>.el-tabs__header {
    border-bottom: none;
    .el-tabs__nav {
        border: none;
    }
}
.el-tabs__item.is-active {
    height: 40px;
    line-height: 40px;
    vertical-align: top;
    color: #000!important;
    background-color: #ffffff!important;
    .border-bottom-radius(0);
}
.el-tabs__item {
    margin-right: 8px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    background-color: RGBA(182, 194, 202, 1)!important;
    .border-top-radius(5px);
    .border-bottom-radius(5px);
    .common_box_shadow(0 2px 4px rgba(7, 17, 27, .15));
    &:hover {
        color: #000!important;
    }
}

//RealName.vue

.RealName-main .el-upload--picture-card,
.personalData-main .el-upload--picture-card ,
.password-main .el-upload--picture-card {
    width: 1rem;
    height: 1rem;
    line-height: 1.2rem;
}
.el-upload--picture-card i {
    color: @general-col;
}

.basic,
.company {
    width: 100%;
    .title {
        position: relative;
        padding: 20px 20px 20px 17px;
        line-height: 1;
        color: @main-col;
        font-size: 14px;
        border-bottom: 1px dashed #cccccc;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 19px;
            z-index: 1;
            width: 4px;
            height: 16px;
            background-color: @base;
            //.common_radius(2px);
        }
    }
    .basic-form {
        padding: .25rem 0 0 1.25rem;
        .input-width {
            max-width: 300px;
            min-width: 250px;
        }
        .upload-flex {
            width: 100%;
            margin-bottom: .25rem;
            label {
                display: inline-block;
                width: 20%;
                max-width: 135px;
                min-width: 135px;
                text-align: left;
                color: #606266;
                font-size: 14px;
                line-height: 1.2;
            }
            span {
                display: inline-block;
            }
            .special {
                max-width: none;
            }
        }
        .upload-flex {
            .flex_start;
            .el-form-item__content {
                width: 100%;
                margin-left: 0!important;
                line-height: 0;
            }
            .avatar-uploader .el-upload {
                border: 1px dashed #d9d9d9;
                border-radius: 6px;
                cursor: pointer;
                position: relative;
                overflow: hidden;
            }
            .avatar-uploader .el-upload:hover {
                border-color: #409EFF;
            }
            .avatar-uploader-icon {
                font-size: 28px;
                color: #8c939d;
                width: 100px;
                height: 100px;
                line-height: 100px;
                text-align: center;
                font-weight: bold;
            }
            .avatar {
                width: 100px;
                height: 100px;
                display: block;
            }
        }
    }
}

//customerApplication.vue

.suffix {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 1;
    width: @width-pr;
    border-left: 1px solid #999999;
    .el-input__inner {
        padding: 0 10px;
        height: 44px!important;
        line-height: 44px;
        border: none!important;
    }
}
