.common-main {
    display: flex;
    align-items: center;
}
#flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic {
    width:100px;
    height:100px;
    background: url("../../../static/img/banner_1.png");
    background-size:100px 100px;
}